
@{
    ViewBag.Title = "Purchase Failed";
}

<h2>Purchase Failed!</h2>

<div class="main">
    <div class="cont">
        <h4>Return to @Html.ActionLink("Online Store", "OnlineStore", "Passes", null, new { @class = "custom_nav" })</h4>
    </div>
</div>