
@{
    ViewBag.Title = "Passes";
}

<h2>Pass Packages</h2>
<div class="passStore">
    <div class="passContent">
        <div class="floatLeft passTitle" style="padding-top:8px;">
            <p>5 Pass Packet</p>
        </div>
        <div class="passPurchase floatRight">
            <div class="floatRight" style="padding-right:25px;">
                <div class="floatLeft" style="padding-top:8px; padding-right:20px;">29.99$</div>
                <button type="submit" class="btn btn-default floatRight">Purchase</button>
            </div>
        </div>
    </div>
</div>

<div class="passStore">
    <div class="passContent">
        <div class="floatLeft passTitle">
            <p>10 Pass Packet</p>
            <p style="font-size:14px; color:red;">Christmas Promo 20% Off</p>
        </div>
        <div class="passPurchase floatRight">
            <div class="floatRight" style="padding-right:25px;">
                <div class="floatLeft" style="padding-top:8px; padding-right:20px;"><strike class="passDiscount">49.99$</strike>39.99$</div>
                <button type="submit" class="btn btn-default floatRight">Purchase</button>
            </div>
        </div>
    </div>
</div>

<div class="passStore">
    <div class="passContent">
        <div class="floatLeft passTitle" style="padding-top:8px;">
            <p>20 Pass Packet</p>
        </div>
        <div class="passPurchase floatRight">
            <div class="floatRight" style="padding-right:25px;">
                <div class="floatLeft" style="padding-top:8px; padding-right:20px;">84.99$</div>
                <button type="submit" class="btn btn-default floatRight">Purchase</button>
            </div>
        </div>
    </div>
</div>

<div class="passStore">
    <div class="passContent">
        <div class="floatLeft passTitle" style="padding-top:8px;">
            <p>30 Pass Packet</p>
        </div>
        <div class="passPurchase floatRight">
            <div class="floatRight" style="padding-right:25px;">
                <div class="floatLeft" style="padding-top:8px; padding-right:20px;">99.99$</div>
                <button type="submit" class="btn btn-default floatRight">Purchase</button>
            </div>
        </div>
    </div>
</div>

<div class="passStore">
    <div class="passContent">
        <div class="floatLeft passTitle" style="padding-top:8px;">
            <p>Test Paypal</p>
        </div>
        <div class="passPurchase floatRight">
            <div class="floatRight" style="padding-right:25px;">
                <div class="floatLeft" style="padding-top:8px; padding-right:20px;">99.99$</div>
                @Html.ActionLink("Test PayPal link", "PaymentWithPaypal")
                <button type="submit" class="btn btn-default floatRight">Purchase</button>
            </div>
        </div>
    </div>
</div>
