@model IEnumerable<Database.Yoga_User>
@using Database
@{
    DBMaster db = new DBMaster();
    ViewBag.Title = "User List";
    TempData["List"] = Model;
}

<h2>User List</h2>

<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.U_First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_Email)
            </td>
            <td>
                @Html.ActionLink("Select", "Store", new {  id=item.U_Id  }) 
            </td>
        </tr>
    }

</table>


