
@{
    ViewBag.Title = "Homepage";
}
    <div class="buddhaDiv">
        <img class="buddha" style="margin-right:10px; margin-left:25px;" src="~/Content/Images/Buddha3.jpg" width="1000" alt="Buddha">
    </div>
    <div class="homeText">
        Saṃsāra yoga brings a new level of yoga experience to Downtown Montreal.<br /><br />
        We are devoted to creating a sanctuary of strength and mindfulness for the spirit, the soul, and the body in the heart of the city. Saṃsāra yoga is an ideal environment for
        <br />those new to yoga and advanced yogis alike.
        Established in just 2018, Saṃsāra 's  studio is dedicated to teachings of alignment-based Hatha Yoga, movement-based Vinyasa Yoga the therapeutic approach to teaching Restorative Yoga and Wall Yoga.
    </div>
        <h3 style="margin-left:50px; font:'Yu Gothic';">Upcoming Classes</h3>
      <div class="upComing scrollmenu">
          <div class="scrollElement">
              <div class="title">Dec 5th</div>
              <div class="scrollCont">Hot Yoga<br />12:00 PM<br /><a href="/Schedule/ClassSignUp" class="btn btn-default">More Info</a></div>
          </div>
          <div class="scrollElement">
              <div class="title">Dec 5th</div>
              <div class="scrollCont">Yoga L1<br />2:00 PM<br /><a href="/Schedule/ClassSignUp" class="btn btn-default">More Info</a></div>
          </div>
          <div class="scrollElement">
              <div class="title">Dec 5th</div>
              <div class="scrollCont">Baby Yoga<br />4:00 PM<br /><a href="/Schedule/ClassSignUp" class="btn btn-default">More Info</a></div>
          </div>
          <div class="scrollElement">
              <div class="title">Dec 5th</div>
              <div class="scrollCont">Yoga L2<br />6:00 PM<br /><a href="/Schedule/ClassSignUp" class="btn btn-default">More Info</a></div>
          </div>
          <div class="scrollElement">
              <div class="title">Dec 6th</div>
              <div class="scrollCont">Hot Yoga<br />8:00 AM<br /><a href="/Schedule/ClassSignUp" class="btn btn-default">More Info</a></div>
          </div>
          <div class="scrollElement">
              <div class="title">Dec 6th</div>
              <div class="scrollCont">Hot Yoga L2<br />10:00 AM<br /><a href="/Schedule/ClassSignUp" class="btn btn-default">More Info</a></div>
          </div>
      </div> 
<div class="socialDiv">
    <div class="bDiv">
        <h3>Social Networks</h3>
        <img class="" style="margin-right:10px;" src="~/Content/Images/Twitter.PNG" width="35">
        <img class="" style="margin-right:10px;" src="~/Content/Images/Facebook.PNG" width="35">
        <img class="" style="margin-right:10px;" src="~/Content/Images/Instagram.PNG" width="35">
    </div>
    <div class="bDiv">
        <h3>Our Address</h3>
        1470 St-Jacques Street<br />
        Montreal, Canada H3A 1T1
    </div>
    <div class="bDiv">
        <h3>Countact Us</h3>
        Phone: (514)-248-1941<br />
        Email: contactus@samsarayoga.com
    </div>
</div>
