
@{
    ViewBag.Title = "Homepage";
}
    <div class="buddhaDiv">
        <img class="buddha" style="margin-right:10px; margin-left:25px;" src="~/Content/Images/Buddha3.jpg" width="1000" alt="Buddha">
    </div>
        