@model List<Database.Schedule>

@{
    ViewBag.Title = "Homepage";

}

<div class="buddhaDiv">
    <img class="buddha" style="margin-right:10px; margin-left:25px;" src="~/Content/Images/Buddha3.jpg" width="1000" alt="Buddha">
</div>
<div class="homeText">
    Saṃsāra yoga brings a new level of yoga experience to Downtown Montreal.<br /><br />
    We are devoted to creating a sanctuary of strength and mindfulness for the spirit, the soul, and the body in the heart of the city. Saṃsāra yoga is an ideal environment for
    those new to yoga and advanced yogis alike. Established in just 2018, Saṃsāra's  studio is dedicated to teachings of alignment-based Hatha Yoga, movement-based Vinyasa Yoga the therapeutic approach to teaching Restorative Yoga and Wall Yoga.
</div>
<h3 style="margin-left:50px; font:'Yu Gothic';">Upcoming Classes</h3>
<div class="upComing scrollmenu">


    @{
        //test upcoming classes feature
        if (Model.Count == 0)
        {
            <div class="scrollElement">
                <div class="title">Upcoming Class</div>
                <div class="scrollCont">Are Shown Here<br />10:00 AM<br /><a href="/Schedule/ClassSignUp" class="btn btn-default">Schedule</a></div>
            </div>
        }
        else
        {
            foreach (var sched in Model)
            {
                //doing this since only datetime as formating method tostring() (not timespan)
                DateTime time = DateTime.Today.Add(sched.Start_Time);

                // <a href="/Schedule/ClassSignUp" class="btn btn-default">More Info</a>

                // , new { @class = "btn btn-default"}
                <div class="scrollElement">
                    <div class="title">@sched.Class_Date.ToString("MMMM dd")</div>
                    <div class="scrollCont">
                        @sched.Class.Class_Name<br />@time.ToString("h:mm tt")<br />
                        @Html.ActionLink("More Info", "Schedule", "Schedule")
                    </div>

                </div>

            }
        }

    }

</div>
<div class="socialDiv">
    <div class="bDiv">
        <h3>Social Networks</h3>
        <img class="" style="margin-right:10px;" src="~/Content/Images/Twitter.PNG" width="35">
        <img class="" style="margin-right:10px;" src="~/Content/Images/Facebook.PNG" width="35">
        <img class="" style="margin-right:10px;" src="~/Content/Images/Instagram.PNG" width="35">
    </div>
    <div class="bDiv">
        <h3>Our Address</h3>
        1470 St-Jacques Street<br />
        Montreal, Canada H3A 1T1
    </div>
    <div class="bDiv">
        <h3>Countact Us</h3>
        Phone: (514)-248-1941<br />
        Email: samsarayogamontreal@gmail.com
    </div>
</div>
