
@{
    ViewBag.Title = "FindUserAdvanced";
}

<div class="centerDiv">
    @using (Html.BeginForm())
    {
<table class="inputTable">
    <tr>
        <td></td>
        <td style="text-align:center"><h2>Advanced Search</h2></td>
    </tr>
    <tr>
        <th>Role:</th>
        <td class="select">
            <select id="role">
                <option>Select Role</option>
                <option>Administrator</option>
                <option>Receptionist</option>
                <option>Teacher</option>
                <option>Student</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>@Html.TextBox("Email", null, new { @class = "inputs" })</td>
    </tr>
    <tr>
        <th>First Name:</th>
        <td>@Html.TextBox("FirstName", null, new { @class = "inputs" })</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>@Html.TextBox("LastName", null, new { @class = "inputs" })</td>
    </tr>
    <tr>
        <th>Phone Number:</th>
        <td>@Html.TextBox("Phone", null, new { @class = "inputs" })</td>
    </tr>
    <tr></tr>
    <tr>
        <td></td>
        <td style="text-align:center"><button style="width:150px" type="submit" class="btn btn-default">Search</button></td>
    </tr>
</table>
    }
</div>

