
@{
    ViewBag.Title = "UserList";
}
<br /><br />
<table class="classes">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Birthday</th>
        <th>Role</th>
        <th></th>
    </tr>
    <tr>
        <td>Johnson</td>
        <td>Emma</td>
        <td>ekjohnson99@gmail.com</td>
        <td>(514)-248-1941</td>
        <td>23/04/1999</td>
        <td>Student</td>
        <td>
          <button class="btn btn-default">Edit</button>
        </td>
    </tr>
    <tr>
        <td>Braithwaite</td>
        <td>Liam</td>
        <td>lkudzmanb@gmail.com</td>
        <td>(514)-773-0313</td>
        <td>18/12/1998</td>
        <td>Teacher</td>
        <td><button class="btn btn-default">Edit</button></td>
    </tr>
</table>

