
@{
    ViewBag.Title = "Attendence Daily";
}

@using (Html.BeginForm())
{
    <table class="inputTable">
        <tr>
            <td></td>
            <td style="text-align:center"><h2>Daily Attendance Report</h2></td>
        </tr>
        <tr>
            <th>Select Date:</th>
            <td style="text-align:center">
                <input type="date" name="startDate" required>
            </td>
        </tr>

        <tr></tr>
        <tr>
            <td></td>
            <td style="text-align:center"><button style="width:150px" type="submit" class="btn btn-default">Search</button></td>
        </tr>
    </table>

}

