
@{
    ViewBag.Title = "Hours Worked Monthly";
}




@using (Html.BeginForm())
{
    <table class="inputTable">
        <tr>
            <td></td>
            <td style="text-align:center"><h2>Hours Worked Monthly</h2></td>
        </tr>



        <tr>

            <th>Select Month:</th>
            <td class="select">
                <input type="month" name="month" class="form-control" required />

            </td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align:center"><button style="width:150px" type="submit" class="btn btn-default">Search</button></td>
        </tr>
    </table>

}
