
@{
    ViewBag.Title = "Sales";
}

<h2>Sales</h2>


<p>
    @Html.ActionLink("Monthly Sale Report", "SalesMonthly")
</p>
<br />
<p>
    @Html.ActionLink("Date Selection Sale Report", "SalesDates")

</p>

