
@{
    ViewBag.Title = "Classes";
}

<br />
<h4>Upcoming Classes</h4><br />
<table class="classes">
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Start Time</th>
        <th>Length</th>
        <th>Teacher</th>
        <th></th>
    </tr>
    <tr>
        <td>Saturday Nov 30th 2019</td>
        <td>Hot Yoga</td>
        <td>7:45</td>
        <td>1h15</td>
        <td>Sarah Johnson</td>
        <td><button class="btn btn-default">Cancel</button></td>
    </tr>
    <tr>
        <td>Friday Dec 6th 2019</td>
        <td>Baby Yoga</td>
        <td>19:00</td>
        <td>1h00</td>
        <td>Jessica Brown</td>
        <td><button class="btn btn-default">Cancel</button></td>
    </tr>
</table>
<br /><br /><h4>Past Classes</h4><br />
<table class="classes">
     <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Start Time</th>
        <th>Length</th>
        <th>Teacher</th>
        <th>Attendance</th>
     </tr>
     <tr>
        <td>Saturday Nov 23rd 2019</td>
        <td>Hot Yoga</td>
        <td>11:00</td>
        <td>1h30</td>
        <td>Sarah Johnson</td>
        <td>Attended</td>
     </tr>
     <tr>
         <td>Friday Nov 22nd 2019</td>
        <td>Bikram Yoga</td>
        <td>16:00</td>
        <td>1h00</td>
        <td>Jessie Holmes</td>
        <td>Absent</td>
     </tr>
     <tr>
        <td>Saturday Nov 16th 2019</td>
        <td>Hot Yoga</td>
        <td>11:00</td>
        <td>1h30</td>
        <td>Sarah Johnson</td>
        <td>Attended</td>
     </tr>
</table>