
@{
    ViewBag.Title = "Passes";
}

<br />
<h4>Active Passes</h4>
<br />
<table class="classes">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Promotion</th>
        <th>Purchase Date</th>
    </tr>
    <tr>
        <td>10 Pass Packet</td>
        <td>6/10</td>
        <td>40.99$</td>
        <td>Christmas Promo 9$ Off</td>
        <td>15/11/2019</td>
    </tr>
</table>
<br /><br />
<h4>Past Classes</h4>
<br />
<table class="classes">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Promotion</th>
        <th>Purchase Date</th>
    </tr>
    <tr>
        <td>5 Pass Packet</td>
        <td>6/10</td>
        <td>29.99$</td>
        <td></td>
        <td>01/11/2019</td>
    </tr>
</table>

