
@{
    ViewBag.Title = "Class";
}

<h4>Class Options</h4>
@Html.ActionLink("Class List", "ClassList", "ManageStudio")<br />
@Html.ActionLink("Find Class", "FindClass", "ManageStudio")<br />
@Html.ActionLink("Create Class", "CreateClass", "ManageStudio")
