
@{
    ViewBag.Title = "ClassPassList";
}
<br /><h2>Pass List</h2><br />
    <table class="classes">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr>
            <td>5 Pass Packet</td>
            <td>5</td>
            <td>29.99</td>
            <td>
                <button class="btn btn-default">Edit</button>
            </td>
        </tr>
        <tr>
            <td>10 Pass Packet</td>
            <td>10</td>
            <td>49.99</td>
            <td>
            <button class="btn btn-default">Edit</button>
            </td>
        </tr>
    </table>

