
@{
    ViewBag.Title = "ClassPass";
}

<h4>Class Pass</h4>
@Html.ActionLink("Class Pass List", "ClassPassList2", "ManageStudio")<br />
@Html.ActionLink("Find Class Pass", "FindClassPass", "ManageStudio")<br />
@Html.ActionLink("Create Class Pass", "CreateClassPass", "ManageStudio")

