


@model YogaStudioHelper.ViewModels.ScheduleViewModel


@{

    // a model YogaStudioHelper.ViewModels.ScheduleViewModel
    //model Database.Schedule

    ViewBag.Title = "CreateSchedule";
}

<h2>CreateSchedule</h2>



<div class="centerDiv">
    @using (Html.BeginForm())
    {
        <table class="inputTable">
            <tr>
                <td></td>
                <td style="text-align:center;"><h2>Schedule</h2></td>
            </tr>

            <tr>
                <th>Teacher:</th>
              
                <td>
                    @Html.DropDownListFor(m => m.Teachers, new SelectList(Model.Teachers, "U_Id", "U_Last_Name"), new { @id = "classList" })
                </td>
            </tr>

            <tr>
                <th>Class</th>
                <td>
                    @Html.DropDownListFor(m => m.Classes, new SelectList(Model.Classes, "Class_Id", "Class_Name"), new { @id = "classList" })
                </td>



            <tr>
                <th>Room:</th>
                <td>
                    @Html.DropDownListFor(m => m.Rooms, new SelectList(Model.Rooms, "Room_Id", "Room_Name"), new { @id = "classList" })

                </td>
            </tr>

            <tr>

                <th>Time:</th>
                <td class="select">
                </td>

            </tr>
            <tr>
                <th>Date:</th>
                <td><input type="date" class="inputs" name="classDate" id="classDate" required /></td>
            </tr>


            <tr>
                <th>Schedule Status:</th>
                <td style="text-align:center">@Html.CheckBox("isActive", true)</td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center"><button style="width:150px" type="submit" class="btn btn-default">Create</button></td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td><button onclick="goBack()">Go Back</button></td>
            </tr>
        </table>
    }
</div>











<!--
                       Html.DropDownListFor(m => m.Passes, new SelectList(Model.Passes, "pass_id", "pass_name"), new { a id = "passList" })

        <div class="form-group">
          Html.LabelFor(model => model.Teacher_Id, htmlAttributes: new { class = "control-label col-md-2" })
            <div class="col-md-10">
                Html.EditorFor(model => model.Teacher_Id, new { htmlAttributes = new { class = "form-control" } })
                Html.ValidationMessageFor(model => model.Teacher_Id, "", new { class = "text-danger" })
            </div>
        </div>

-->
