
@{
    ViewBag.Title = "CreateClassPass";
}

    <div class="centerDiv">
        
        @using (Html.BeginForm())
        {
            <table class="inputTable">
                <tr>
                    <td></td>
                    <td style="text-align:center;"><h2>Create Pass</h2></td>
                </tr>
                <tr>
                    <th>Class Pass Name:</th>
                    <td>@Html.TextBox("ClassPassName", null, new { @class = "inputs" })</td>
                </tr>
                <tr>
                    <th>Quantity:</th>
                    <td>@Html.TextBox("ClassPassQty", null, new { @class = "inputs", @input="number" })</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>@Html.TextBox("ClassPassPrice", null, new { @class = "inputs", @input="number" })</td>
                </tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td style="text-align:center"><button style="width:150px" type="submit" class="btn btn-default">Create</button></td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <td><button onclick="goBack()">Go Back</button></td>
                </tr>
            </table>
        }
    </div>

