
@{
    ViewBag.Title = "Edit Room";
}

    <div class="centerDiv">
        @using (Html.BeginForm())
        {
        <table class="inputTable">
            <tr>
                <td></td>
                <td style="text-align:center;"><h2>Edit Room</h2></td>
            </tr>
            <tr>
                <th>Room Name:</th>
                <td>@Html.TextBox("roomName", "F-248", new { @class = "inputs" })</td>
            </tr>
            <tr>
                <th>First Name:</th>
                <td>@Html.TextBox("capacity", "45", new { @class = "inputs", @type = "number" })</td>
            </tr>
            <tr></tr>
            <tr>
                <th>Active:</th>
                <td>@Html.CheckBox("isActive", true)</td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center"><button style="width:150px" type="submit" class="btn btn-default">Edit</button></td>
            </tr>
        </table>
        }
    </div>

