@using Database

@{
    ViewBag.Title = "EditClassPass";


    Class_Passes editClassPasses;

    if (ViewBag.EditClassPass != null)
    {
        editClassPasses = ViewBag.EditClassPass;

        int id = editClassPasses.Pass_Id;

        TempData["EditClassPassId"] = id;

    }
    else
    {
        editClassPasses = new Class_Passes();
        //editClass.U_Email = "";
        //editClass.U_First_Name = "";
    }

}

<div class="centerDiv">

    @using (Html.BeginForm())
    {
        <table class="inputTable">
            <tr>
                <td></td>
                <td style="text-align:center;"><h2>Edit Pass</h2></td>
            </tr>
            <tr>
                <th>Class Pass Name:</th>
                <td>

                    <input id="ClassPassName" name="ClassPassName" class="inputs" required value=" @editClassPasses.Pass_Name"/>

                </td>
            </tr>
            <tr>
                <!-- put size instead? -->
                <th>Quantity:</th>
                <td>
                    <input type="number" id="ClassPassQty" name="ClassPassQty" class="inputs" required value=" @editClassPasses.Pass_Size" />

                </td>
            </tr>
            <tr>
                <th>Price</th>
                <td>

                    <input type="number" id="ClassPassPrice" name="ClassPassPrice" class="inputs" value=" @editClassPasses.Pass_Price"/>


                </td>
            </tr>
            <tr>
                <th>Active:</th>
                <td style="text-align:center">@Html.CheckBox("isActive", true)</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td style="text-align:center"><button style="width:150px" type="submit" class="btn btn-default">Edit</button></td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td><button onclick="goBack()">Go Back</button></td>
            </tr>
        </table>
    }
</div>
