@using Database


@{
    ViewBag.Title = "EditClass";


    Class editClass;
    if (ViewBag.EditClass != null)
    {
        editClass = ViewBag.EditClass;

        int id = editClass.Class_Id;

        TempData["EditClassId"] = id;



        // Convert time into integer

        /*

            int minutes = Int32.Parse(editClass.Class_Length.TotalMinutes);

            TimeSpan length = new TimeSpan();

            if (minutes < 60)
            {
                TimeSpan min = TimeSpan.FromMinutes(minutes);
                length += min;
            }
            else
            {
                int remainder = minutes % 60;
                if(remainder == 0)
                {
                    int hour = minutes / 60;
                    TimeSpan hr = TimeSpan.FromHours(hour);
                    length += hr;
                }
                else
                {
                    TimeSpan min = TimeSpan.FromMinutes(remainder);
                    TimeSpan hr = TimeSpan.FromHours((minutes-remainder)/60);

                    length = hr + min;

                }
            }
            */

    }
    else
    {
        editClass = new Class();
        //editClass.U_Email = "";
        //editClass.U_First_Name = "";
    }

}

<div class="centerDiv">
    @using (Html.BeginForm())
    {
        <table class="inputTable">
            <tr>
                <td></td>
                <td style="text-align:center;"><h2>Edit Class</h2></td>
            </tr>
            <tr>

                <th>Class Name:</th>
                <td>


                    <input id="ClassName" name="ClassName" class="inputs" value=" @editClass.Class_Name " />

                    <!-- Html.TextBox("ClassName", "Hot Yoga", new { class = "inputs" }) -->

                </td>
            </tr>
            <tr>
                <th style="vertical-align:top;">Class Description:</th>
                <td>

                    <input id="ClassDesc" name="ClassDesc" class="inputsArea" value=" @editClass.Class_Desc " />



                    <!-- Html.TextArea("ClassDesc", "Our hot flow is a Vinyasa-style class created to heal, " +
                                          "detoxify and exhilarate the body and mind by linking the" +
                                          " breath with movement.", new { class = "inputsArea" }) -->

                </td>
            </tr>
            <tr>
                <th>Class Length (Minutes):</th>
                <td>

                    <input type="number" id="ClassLength" name="ClassLength" class="inputs" value=" @editClass.Class_Length.TotalMinutes" />


                    <!-- Html.TextBox("LastName", 75, new { class = "inputs", input = "number" }) -->
                </td>
            </tr>
            <tr>
                <th>Active:</th>
                <td style="text-align:center">

                    <input type="checkbox" id="isActive" name="isActive" checked />


                    <!-- Html.CheckBox("isActive", true) -->
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td style="text-align:center"><button style="width:150px" type="submit" class="btn btn-default">Edit</button></td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td><button onclick="goBack()">Go Back</button></td>
            </tr>
        </table>
    }
</div>

