@using Database

@{
    ViewBag.Title = "EditPromotion";


    Promotion editPromotion;
    String dateEnd = "";

    if (ViewBag.EditPromotion != null)
    {
        editPromotion = ViewBag.EditPromotion;

        int id = editPromotion.Promotion_Id;

        TempData["EditPromotionId"] = id;

        DateTime dateEndT = Convert.ToDateTime(editPromotion.Promo_End);

        dateEnd = dateEndT.ToString("yyyy-MM-dd");

    }
    else
    {
        editPromotion = new Promotion();

    }
}
    
    <div class="centerDiv">
        @using (Html.BeginForm())
        {
            <table class="inputTable">
                <tr>
                    <td></td>
                    <td style="text-align:center;"><h2>Edit Promo</h2></td>
                </tr>
                <tr>
                    <th>Promotion Name:</th>
                    <td>
                    <input id="PromotionDescription" name="PromotionName" class="inputs" required value="@editPromotion.Promo_Desc" />
                   </td>
                </tr>
                <tr>
                    <th>Discount %:</th>
                    <td>
                        <input id="discount" name="discount" 
type ="number"class="inputs" required value="@editPromotion.Discount" /> 
                    </td>
                </tr>
                <tr><th>OR</th></tr>
                <tr>
                    <th>Extra Passes:</th>
                    <td>
                    
                    <input id="passes" name="passes"
                           type="number" required class="inputs" value="@editPromotion.Num_Classes"/>
                    
                    </td>
                </tr>
                <tr>
                    <th>Promo-ed Pass:</th>
                    <td class="select">
                        <select id="classPass">
                            <option>5 Pass Packet</option>
                            <option>10 Pass Packet</option>
                            <option>20 Pass Packet</option>
                            <option>30 Pass Packet</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Promotion End:</th>
                    <td><input type="date" class="inputs" value="@dateEnd;" name="promoEnd" /></td>
                </tr>
                <tr>
                    <th>Active:</th>
                    <td style="text-align:center">@Html.CheckBox("isActive", true)</td>
                </tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td style="text-align:center"><button style="width:150px" type="submit" class="btn btn-default">Edit</button></td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <td><button onclick="goBack()">Go Back</button></td>
                </tr>
            </table>
        }
    </div>


