
@{
    ViewBag.Title = "FindClass";
     string message = ViewBag.FindClassMessage;
}

    <div class="centerDiv">

        @using (Html.BeginForm())
        {
        <table class="inputTable">
            <tr>
                <td></td>
                <td style="text-align:center"><h2>Find Class</h2></td>
            </tr>
            <tr>
                <th>Class Name:</th>
                <td>@Html.TextBox("ClassName", null, new { @class = "inputs" })</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td style="text-align:center"><button style="width:150px" type="submit" class="btn btn-default">Search</button></td>
            </tr>
            <tr><td></td>
                <td style="text-align:center; color:red;">
                     @if (message != null)
                      {
                        @message
                      }
                </td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Back", "ClassList")</td>
            </tr>
        </table>
        }
    </div>

