
@{
    ViewBag.Title = "PromotionList";
}
<br /><h2>Promotion List</h2><br />
    <table class="classes">
        <tr>
            <th>Promotion Name</th>
            <th>Discount</th>
            <th>Extra Passes</th>
            <th>Class Pass</th>
            <th>Promotion End</th>
            <th></th>
        </tr>
        <tr>
            <td>Christmas Promo</td>
            <td>20%</td>
            <td></td>
            <td>10 Pass Packet</td>
            <td>26/12/2019</td>
            <td>
                <button class="btn btn-default">Edit</button>
            </td>
        </tr>
    </table>

