
@{
    ViewBag.Title = "Promotion";
}

<h4>Promotion</h4>
@Html.ActionLink("Promotion List", "PromotionList", "ManageStudio")<br />
@Html.ActionLink("Find Promotion", "FindPromotion", "ManageStudio")<br />
@Html.ActionLink("Create Promotion", "CreatePromotion", "ManageStudio")

