
@{
    ViewBag.Title = "RoomList";
}

<br /><h2>Room List</h2><br />
<table class="classes">
    <tr>
        <th>Room Name</th>
        <th>Capacity</th>
        <th></th>
    </tr>
    <tr>
        <td>F-248</td>
        <td>45</td>
        <td>
            <button class="btn btn-default">Edit</button>
            <button class="btn btn-default">Delete</button>
        </td>
    </tr>
    <tr>
        <td>F-235</td>
        <td>30</td>
        <td>
            <button class="btn btn-default">Edit</button>
            <button class="btn btn-default">Delete</button>
        </td>        
    </tr>
</table>


