
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:15px;
}

.vCenter {
    padding-top:10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.clearfix {
    overflow: auto;
}

li {
    float: left;
    /*background-color: white;*/
}

li a {
    display: block;
    color: #5ab9ea;
    text-align: center;
    padding-left:14px;
    padding-right: 14px;
    padding-top:14px;
    text-decoration: none;
    /*border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;*/
}

li a:hover {
    /*background-color: #edf9ff;*/
    text-decoration: none;
}

.logMarg{
    margin-right: -45px;
}

.nav {
    width: 90%;
    padding-top: 10px;

}

.center {
    margin: auto; 
}
.floatRight{
    float:right;
}
.floatLeft{
    float:left;
}


ul li {
    display: inline-block;
    width: 175px; font: 20px 'Yu Gothic';

}
ul li:hover {
    /*background: #edf9ff; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/

}
ul li:hover ul {
    display: block;
}
ul li ul {
  position: absolute;
  width: 175px;
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius:15px;
}
ul li ul li { 
  /*
  border-bottom: 1px solid #ddd;*/
  display: block; 
  background: white; 
}
ul li ul li a {
    display:block !important;

}
    ul li ul li:hover {
        /*background: #edf9ff;*/
        text-decoration: underline;
    }

.schedule th{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: start;
    empty-cells: show;
    width: 125px;
}

.schedule td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 150px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px;
    left: 0;
    top: 0;
    margin:auto;
    width: 50%; 
    height: 100%; 
    overflow: auto; 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.schedule tr td a {
    text-decoration: none;
    cursor: pointer;
}

.schedule tr td a:hover {
    text-decoration:underline;
    cursor: pointer;
}

.schedule tr td a:nth-child(even) {
    color: #654f8d;
}

.schedule tr td a:nth-child(odd) {
    color: #557ee6;
}


.nav-container {
    border-bottom: 1px solid #ddd;
    height: 125px;
    /*background-color: #edeff7;*/
    background-color: white;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .container {
  padding-top: 125px;
}
.textRight{
    text-align:right;
}
.light-pad{
    padding:10px;
}

.passStore {
    width: 75%;
    height: 100px;
    font: 18px 'BIZ UDPMincho';
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: #f7fdff
}


.passContent {
    padding-top:30px;
    padding-left:25px;
}

.passTitle {
   width:50%
    
}

.passPurchase {
    width: 50%
}

.passDiscount{
    color:red;
    padding-right:15px;
}

select {
    border-color: #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding: 6px;
}

.report select {
    border-color: #ccc;
    background-color: #fff;
    border-radius: 5px;
}

.select select {
    width: 200px;
}

.classes {
    border: 1px solid #ddd;
}
.classes th {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.classes td {
    padding: 10px;
    width: 200px;
    text-align: center;
   
}

.classes tr:nth-child(even) {
   background-color:#f2f2f2;
}

.inputs {
    width: 200px;
    height:30px;
    border-color: #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding: 6px;
}

.inputsArea {
    width: 200px;
    height: 75px;
    border-color: #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding: 6px;
}


.avail th {
    padding-right: 10px;
    text-align: center;
}

.avail td {
    padding: 10px;
    text-align: center;
}

.loginTable td {
    text-align: right;
    padding:15px;
}

.inputTable td, .inputTable th {
    text-align: right;
    padding: 15px;
    width:250px;
}

.centerDiv {
    margin:auto;
    width:auto;
}

a.disabledA {
    pointer-events: none;
    cursor: default;
}


.sidebar {
    text-align: center;
    height: 50%;
    width: 197px;
    float: left;
    position: absolute;
    left: 0;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.sidebar a {
    display: block;
    color: #5ab9ea;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    font: 20px 'Yu Gothic';
}

.sidebar a:hover {
   color: #111;
   text-decoration: none;
   background: #edf9ff;
}

.main {
    padding: 10px;
}
.cont {
    margin-left: 25px;
}

.actionButton{
    text-decoration: none;
    color: black;
}

.actionButton:hover {
    text-decoration: none;
    color: black;
}

.buddha {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 15px;
}
.buddhaDiv{
    padding-top:45px;
    margin:auto;
}

.homeText {
    padding-left:30px;
    padding-top:50px;
}

.upComing {
    width: 100%;
    height: 235px;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

div.scrollmenu {
    background-color: #040309;
    overflow: auto;
    white-space: nowrap;
    font: 20px 'Yu Gothic';
}

.scrollElement {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    width: 225px;
    height: 200px;
    border-radius: 15px;
}

.title {
    border-bottom: 1px solid black;
    font-size: 25px;
}
.scrollCont {
    padding-top:10px;
    font-size: 20px;
}

div.scrollmenu div.scrollElement {
    background-color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.bDiv {
    width: 33.33%;
    float: left;
    font: 15px 'Yu Gothic';
}

.socialDiv {
    margin-left:50px;
    padding-top: 110px;
    height: 250px;
    width: 100%;
}

.homeText {
    padding-bottom: 75px;
}


