

@using Database
@{


    ViewBag.Title = "LogInSignUp";
    string message = ViewBag.message;

    String stickyEmail;
    if (ViewBag.StickyEmail != null)
    {
        stickyEmail = ViewBag.StickyEmail;


        //Yoga_User = ViewBag.StickyUser; 
    }
    else
    {
        stickyEmail = "";
    }
}

<br />
<br />
<br />
<div class="centerDiv">
    <table class="loginTable">
        @using (Html.BeginForm())
        {
            <tr>
                <td></td>
                <td style="text-align:center;"><h2>Log in</h2></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                <input id="Email" name="Email" class="inputs" required="required" value="@stickyEmail" />
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>@Html.Password("Password", null, new { @class = "inputs",  required="required" })</td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center"><button type="submit" class="btn btn-default">Login</button></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center; color:red;">
                    @if (message != null)
                    {
                        @message
                    }
                </td>
            </tr>
        }
        <tr></tr>
        <tr>
        <td></td>
        <td>New User? @Html.ActionLink("Create Account", "SignUp", "LoginSignUp", null, new { @class = "custom_nav" })</td>
        </tr>
    </table>

</div>


